mat-toolbar {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 30px;
  background-color: rgba(156, 212, 196, 0.32);
}

h1 {
  font-size: 20px;
  margin-right: 10px;
}

img {
  width: 40px;
}

.right-menu-section {
  margin-left: auto;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: black;

  &:hover {
    color: #ffa500;
  }
}

// img {
//     width: 50px;
//     height: 50px;
// }

// .div-1, .div-2 {
//     background-color: red;
// }

// .span-1, .span-2 {
//     background-color: green;
// }
