mat-toolbar {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 30px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

h1 {
  font-size: 20px;
  margin-right: 10px;
}

img {
  width: 40px;
}

.right-menu-section {
  margin-left: auto;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: black;

  &:hover {
    color: #ffff;
  }
}

// img {
//     width: 50px;
//     height: 50px;
// }

// .div-1, .div-2 {
//     background-color: red;
// }

// .span-1, .span-2 {
//     background-color: green;
// }
