<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Sensor">
    <th mat-header-cell *matHeaderCellDef>Sensor</th>
    <td mat-cell *matCellDef="let element">{{ element.sensor.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef>Datum</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date: "longDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Temperatur">
    <th mat-header-cell *matHeaderCellDef>Temperatur</th>
    <td mat-cell *matCellDef="let element">{{ element.temperature }}</td>
  </ng-container>

  <ng-container matColumnDef="Luftfeuchtigkeit">
    <th mat-header-cell *matHeaderCellDef>Luftfeuchtigkeit</th>
    <td mat-cell *matCellDef="let element">{{ element.humidity }}</td>
  </ng-container>

  <ng-container matColumnDef="Standort">
    <th mat-header-cell *matHeaderCellDef>Standort</th>
    <td mat-cell *matCellDef="let element">{{ element.sensor.location }}</td>
  </ng-container>

  <ng-container matColumnDef="Position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element">
      {{ SensorPosition[element.sensor.position] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Aktion">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <div>
        <a
          mat-raised-button
          (click)="openDeleteModal(element.id, i)"
          color="warn"
          >Delete</a
        >
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  [pageIndex]="0"
  [pageSize]="10"
  showFirstLastButtons
></mat-paginator>
