<app-button
  color="{{ showAddTask ? 'red' : 'green' }}"
  text="{{ showAddTask ? 'Close' : 'Add' }}"
  (btnClick)="toggleAddTask()"
>
  ></app-button
>
<form
  [formGroup]="sensorenDataForm"
  (ngSubmit)="onSubmit()"
  *ngIf="showAddTask"
>
  <h2>Neuen Messwert hinzufügen</h2>
  <select formControlName="sensorId">
    <option value="" disabled>Bitte Sensor auswählen</option>
    <option *ngFor="let item of storeService.sensoren" [ngValue]="item.id">
      {{ item?.name }}
    </option>
  </select>
  <input placeholder="Datum" type="date" name="datum" formControlName="date" />
  <input
    placeholder="Temperatur"
    type="number"
    name="Temperatur"
    formControlName="temperature"
  />
  <input
    placeholder="Luftfeuchtigkeit"
    type="number"
    name="Luftfeutigkeit"
    formControlName="humidity"
  />
  <button mat-raised-button class="btn" type="submit">Erfassen</button>
  <!-- <button class="btn btn-primary" type="submit">Erfassen</button> -->
</form>
