<app-button
  color="{{ showAddTask ? 'red' : 'green' }}"
  text="{{ showAddTask ? 'Close' : 'Add' }}"
  (btnClick)="toggleAddTask()"
>
  ></app-button
>
<form
  [formGroup]="sensorenDataForm"
  (ngSubmit)="onSubmit()"
  *ngIf="showAddTask"
>
  <mat-card>
    <mat-card-title>Neuen Messwert hinzufügen</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Sensor auswählen</mat-label>
        <mat-select formControlName="sensorId">
          <mat-option
            *ngFor="let item of storeService.sensoren"
            [value]="item.id"
            >{{ item?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Datum auswählen</mat-label>
        <input
          formControlName="date"
          matInput
          [matDatepicker]="picker"
          placeholder="10/07/2022"
        />
        <mat-hint align="end">MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="sensorenDataForm.get('date').hasError('required')">
          <p>Datum wird benötigt!</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Temperatur</mat-label>
        <input
          formControlName="temperature"
          matInput
          type="number"
          placeholder="25"
        />
        <mat-error
          *ngIf="sensorenDataForm.get('temperature').hasError('required')"
        >
          <p>Temperatur wird benötigt!</p>
        </mat-error>
        <mat-error *ngIf="sensorenDataForm.get('temperature').hasError('min')">
          <p>Temperatur zu niedrig! Das Minimum ist {{ temperatureMin }}!</p>
        </mat-error>
        <mat-error *ngIf="sensorenDataForm.get('temperature').hasError('max')">
          <p>Temperatur zu hoch! Das Maximum ist {{ temperatureMax }}!</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Luftfeuchtigkeit</mat-label>
        <input
          formControlName="humidity"
          matInput
          type="number"
          placeholder="35"
        />
        <mat-hint align="end">Keine negativen Werte erlaubt</mat-hint>
        <mat-error
          *ngIf="sensorenDataForm.get('humidity').hasError('required')"
        >
          <p>Luftfeuchtigkeit wird benötigt!</p>
        </mat-error>
        <mat-error *ngIf="sensorenDataForm.get('humidity').hasError('min')">
          <p>Luftfeuchtigkeit zu niedrig! Das Minimum ist {{ humidityMin }}!</p>
        </mat-error>
        <mat-error *ngIf="sensorenDataForm.get('humidity').hasError('max')">
          <p>Luftfeuchtigkeit zu hoch! Das Maximum ist {{ humidityMax }}!</p>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color class="btn" type="submit">
        Erfassen
      </button>
    </mat-card-content>
  </mat-card>
</form>
