<div class="container">
  <h1>Sensorendaten</h1>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="sensorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
      <td mat-cell *matCellDef="let element">{{ element.sensor.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date : "longDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperatur</th>
      <td mat-cell *matCellDef="let element">{{ element.temperature }} °C</td>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Luftfeuchtigkeit
      </th>
      <td mat-cell *matCellDef="let element">{{ element.humidity }} %</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Standort</th>
      <td mat-cell *matCellDef="let element">{{ element.sensor.location }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let element">
        {{ SensorPosition[element.sensor.position] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div>
          <a
            mat-raised-button
            (click)="openDeleteModal(element.id, i)"
            color="warn"
            >Delete</a
          >
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="container">
  <mat-paginator
    #paginator
    #paginatorPageSize
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  >
    ></mat-paginator
  >
</div>
